<html>
  <head>
      <title>Battle</title>
      <link href="<%= url("/styles.css") %>" rel="stylesheet" type="text/css" />
  </head>
  <body class="container">
    <h1>Battle!</h1>
    <h3>Sign in to play</h3>
    <form action="/start-game" method="post">
        <label for="player-one">Player 1 name: </label>
        <input id="player-one" name="player1" type="text"><br>
        <label for="player-two">Player 2 name: </label>
        <input id="player-two" name="player2" type="text"><br>
        <input type="submit" value="submit">
    </form>
  </body>
</html>