body {
  font-family: "Noto Sans", sans-serif;
  background-color: #fff1de;
  font-weight: 300;
}

.container {
  display: grid;
  place-items: center;
}

.container h1 {
  font-size: 32px;
  font-weight: 600;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orange-border {
  border: 3px solid #ffd192;
  border-radius: 5px;
}

form > * {
  padding-bottom: 1em;
}

label span {
  font-size: 24px;
}

input,
select {
  padding: 0.5em;
  border: 2px solid black;
  outline: none;
}

input[type="submit"] {
  background-color: #92a5ff;
  color: #fdfdfd;
  transition: 0.25s ease;
  border: none;
  outline: none;
  letter-spacing: 0.15em;
}

input[type="submit"]:hover,
p:hover {
  transform: scale(1.1);
}

a {
  color: #fdfdfd;
  text-transform: uppercase;
  letter-spacing: 00.25em;
  text-decoration: none;
}

.button {
  padding: 1em 2em;
  text-align: center;
  transition: 0.25s ease;
}

input,
select,
p {
  border-radius: 5px;
}

.points {
  width: 20em;
  display: flex;
  justify-content: space-between;
}
